<section class="about-us">
    <section class="about-us-top">
        <section class="about-us-text">
            <h2>Няколко думи за нас</h2>
            <hr class="hr-purple">
            <p>Ние сме млада и амбициозна фирма базирана в гр. Русе. Екипът ни е изключитлно добре обучен и квалифициран, с богат опит в областта на ВиК услугите. Оборудването ни е от високо ниво, за да извършим качествено нашите услуги. Вярваме, че перфектното
                обслужване на вашите ВиК нужди е основата върху която се гради една добре развиваща се фирма, каквато смятаме че сме.</p>
        </section>
        <section class="about-us-top-img">
            <section class="about-us-img-container">
                <img src="{{ site.baseurl }}/images/plumber-ok.jpg" alt="photo plumber ok">
            </section>
            <section class="attribution">
                <a href="https://www.freepik.com/free-photos-vectors/water">Water photo created by freepik - www.freepik.com</a>
            </section>
        </section>
    </section>
    <section class="about-us-middle">
        <section class="our-advantages">
            <h3>Нашите предимства</h3>
            <ul class="advantages">
                <li>
                    <div>1</div>Kaчество на изработка
                </li>
                <li>
                    <div>2</div>Бързина на изработка
                </li>
                <li>
                    <div>3</div>Честност и почтеност
                </li>
                <li>
                    <div>4</div>Kaчество на изработка
                </li>
                <li>
                    <div>5</div>Kaчество на изработка
                </li>
                <li>
                    <div>6</div>Kaчество на изработка
                </li>
            </ul>
        </section>
        <section class="our-goals">
            <h2>Нашите цели</h2>
            <p>Както досега така и занапред да удовлетворим на 100% всички клиенти използвали нашите професионални услуги</p>
            <p>Да се развиваме използвайки съвременни методи и оборудване за да отговорим на вашите ВиК нужди</p>
            <p>Да станем един от лидерите във ВиК услугите в гр. Русе и цялата страна.</p>
        </section>
    </section>
    <section class="our-team">
        <h2>Запознайте се с нашия екип</h2>
        <section class="member">
            <section class="member-img-container">
                <img src="{{ site.baseurl }}/images/team-members/edi.jfif" alt="mon group team member">
            </section>
            <h6>Едмон Гарабедян</h6>
            <p>Мениджър екип</p>
        </section>
        <section class="member">
            <section class="member-img-container">
                <img src="{{ site.baseurl }}/images/team-members/boy.jfif" alt="mon group team member">
            </section>
            <h6>Едмон Гарабедян</h6>
            <p>Помагач</p>
        </section>
        <section class="member">
            <section class="member-img-container">
                <img src="{{ site.baseurl }}/images/team-members/girl.jfif" alt="mon group team member">
            </section>
            <h6>Едмон Гарабедян</h6>
            <p>Помагачка</p>
        </section>
    </section>
</section>