<section class="about-us">
    <section class="about-us-top">
        <section class="about-us-text">
            <h2>Няколко думи за нас: </h2>
            <div class="hr-purple"></div>
            <p>Ние сме млада и амбициозна фирма базирана в гр. Русе. Екипът ни е изключитлно добре обучен и квалифициран, с богат опит в областта на ВиК услугите. Оборудването ни е от високо ниво, за да извършим качествено нашите услуги. Вярваме, че перфектното
                обслужване на вашите ВиК нужди е основата върху която се гради една добре развиваща се фирма, каквато смятаме че сме.</p>
        </section>
        <section class="about-us-top-img">
            <section class="about-us-img-container">
                <img src="{{ site.baseurl }}/images/plumber-ok.jpg" alt="photo plumber ok">
            </section>
            <section class="attribution">
                <a target="_blank" rel="noopener noreferrer" href="https://www.freepik.com/free-photos-vectors/water">Water photo created by freepik - www.freepik.com</a>
            </section>
        </section>
    </section>
    <section class="about-us-middle">
        <section class="our-advantages">
            <h3>Нашите предимства:</h3>
            <ul class="advantages">
                <li>
                    <div>1</div>ВиК услугите, които предлагаме са висококачествени
                </li>
                <li>
                    <div>2</div>Услугите се извършват за максимално кратък период
                </li>
                <li>
                    <div>3</div>Ние сме почтени спрямо нашите клиенти
                </li>
                <li>
                    <div>4</div>Цените на ВиК услугите, които предлагаме са изгодни
                </li>
            </ul>
        </section>
    </section>
    <section class="our-goals">
        <section class="our-goals-content">
            <h3>Нашите цели:</h3>
            <p class="goal-one">Както досега така и занапред да удовлетворим на 100% всички клиенти използвали нашите професионални услуги</p>
            <p class="goal-two">Да се развиваме използвайки съвременни методи и оборудване за да отговорим на вашите ВиК нужди</p>
            <p class="goal-three">Да станем един от лидерите във ВиК услугите в гр. Русе и цялата страна.</p>
        </section>
        <a target="_blank" rel="noopener noreferrer" href="https://www.freepik.com/free-photos-vectors/background">Background photo created by freepik - www.freepik.com</a>
    </section>
    <section class="our-team">
        <h4>Запознайте се с нашия екип</h4>
        <section class="members">
            <section class="member m2">
                <section class="member-img-container">
                    <img src="{{ site.baseurl }}/images/team-members/edi.jpg" alt="mon group team member">
                </section>
                <h6>Едмон Гарабедян</h6>
                <p>Мениджър екип</p>
            </section>
            <section class="member m2">
                <section class="member-img-container">
                    <img src="{{ site.baseurl }}/images/team-members/boy.jpg" alt="mon group team member">
                </section>
                <h6>Едмон Гарабедян</h6>
                <p>Помагач</p>
            </section>
            <section class="member m3">
                <section class="member-img-container">
                    <img src="{{ site.baseurl }}/images/team-members/girl.jpg" alt="mon group team member">
                </section>
                <h6>Едмон Гарабедян</h6>
                <p>Помагачка</p>
            </section>
        </section>
    </section>
    <section class="testimonials">
        <h3>Мнения и препоръки</h3>
        <div class="testimonial">
            <img src="{{ site.baseurl }}/images/testimonials/gosho.jpg">
            <div class="quote-container">
                <blockquote>
                    <p>"Имах невероятна ВиК авария вкъщи. Бях наводнил дори комшиите. Един приятел ми препоръча Мон груп. Останах много впечатлен! Препоръчах ги и на приятели.”</p>
                </blockquote>
                <cite>Иван Димитров</cite>
            </div>
        </div>
        <div class="hr-purple"></div>
        <div class="testimonial">
            <img src="{{ site.baseurl }}/images/testimonials/mosho.jpg">
            <div class="quote-container">
                <blockquote>
                    <p>"Миналата година си строих къща. За изграждане на ВиК инсталацията се доверих изцяло на екипа на Мон груп. Много съм доволен! Истински професионалисти!”</p>
                </blockquote>
                <cite>Петър Георгиев</cite>
            </div>
        </div>
    </section>
</section>