<section class="about-us">
    <section class="about-us-top">
        <h2>Няколко думи за нас</h2>
        <section class="images">
            <section class="about-us-img-container">
                <img src="{{ site.baseurl }}/images/plumber-ok.jpg" alt="photo plumber ok">
            </section>
            <section class="attribution">
                <a href="https://www.freepik.com/free-photos-vectors/water">Water photo created by freepik - www.freepik.com</a>
                <a href="http://www.freepik.com">Designed by Freepik</a>
            </section>
        </section>
        <section class="about-us-text">
            <p>Quisque in metus nibh. In hac habitasse platea dic tumst. Curabitur eu lorem ac lacus laoreet auctor. Fusce vitae orci nec velit ornare rhoncus ut tempus est. Mauris eu augue lorem.</p>
            <p>Suspendisse sit amet vehicula nisl, nec faucibus nisl. Proin ac fermentum orci, non semper metus</p>
        </section>
    </section>
    <section class="about-us-middle">
        <section class="our-advantages">
            <h2>Нашите предимства</h2>
            <ul class="advantages">
                <li>
                    <div>1</div>Kaчество на изработка
                </li>
                <li>
                    <div>2</div>Бързина на изработка
                </li>
                <li>
                    <div>3</div>Гаранция за нашата работа
                </li>
                <li>
                    <div>4</div>Kaчество на изработка
                </li>
                <li>
                    <div>5</div>Kaчество на изработка
                </li>
                <li>
                    <div>6</div>Kaчество на изработка
                </li>
            </ul>
        </section>
        <section class="our-goals">
            <h2>Нашите цели</h2>
            <p>Quisque in metus nibh. In hac habitasse platea dic tumst. Curabitur eu lorem ac lacus laoreet auctor. Fusce vitae orci nec velit ornare rhoncus ut tempus est. Mauris eu augue lorem.</p>
            <p>Suspendisse sit amet vehicula nisl, nec faucibus nisl. Proin ac fermentum orci, non semper metus</p>
        </section>
    </section>
    <section class="our-team">
        <h2>Запознайте се с нашия екип</h2>
        <section class="member">
            <section class="member-img-container">
                <img src="{{ site.baseurl }}/images/team-members/edi.jfif" alt="mon group team member">
            </section>
            <h6>Едмон Гарабедян</h6>
            <p>Мениджър екип</p>
        </section>
        <section class="member">
            <section class="member-img-container">
                <img src="{{ site.baseurl }}/images/team-members/boy.jfif" alt="mon group team member">
            </section>
            <h6>Едмон Гарабедян</h6>
            <p>Помагач</p>
        </section>
        <section class="member">
            <section class="member-img-container">
                <img src="{{ site.baseurl }}/images/team-members/girl.jfif" alt="mon group team member">
            </section>
            <h6>Едмон Гарабедян</h6>
            <p>Помагачка</p>
        </section>
    </section>
</section>