<section class="contacts">
    <section class="middlle-section">
        <p>Вашите малки и незначителни ВиК проблеми могат да станат сериозни много бързо, така че не се колебайте, а се свържете на посочените телефони възможно най-скоро! Екипът на "Мон груп" реагира бързо и прецизно на спешни ВиК нужди от ваша страна.</p>
        <p>Имате въпрос към нас? Или просто желаете да направите запитване? Може да използвате формата за запитване, а ние от Мон груп ще ви отговорим възможно най-скоро.</p>
        <section class="form-container">
            <form method="POST" action="#">
                <h5>Свържете се с нас!</h5>
                <fieldset>
                    <section class="row">
                        <div class="field-input">
                            <i class="fas fa-user"></i>
                            <input type="text" name="name" id="name" placeholder="Име" required>
                        </div>
                    </section>
                    <section class="row">
                        <div class="field-input">
                            <i class="fas fa-envelope"></i>
                            <input type="email" name="_replyto" id="email" placeholder="Имейл" required>
                        </div>
                    </section>
                    <section class="text-area-par">
                        <textarea name="message" id="message" rows="5" cols="10" placeholder="Въпрос..." required></textarea>
                    </section>
                    <input type="submit" class="btn" value="ИЗПРАТИ" id="submitMessage">
                </fieldset>
            </form>
            <section class="form-container-img">
                <img src="{{ site.baseurl }}/images/instruments.jpg" alt="plumber instruments">
            </section>
        </section>
    </section>
</section>
<hr class="hr-purple">
<section class="credentials">
    <section class="credential f">
        <i class="fas fa-phone"></i>
        <section class="credentials-text">
            <p>Обадете се!</p>
            <p class="data"><span>Телефони:</span><a href="tel:00359896896746">0896 896 746</a></p>
            <p class="data"><span class="invisible">Телефони:</span><a href="tel:00359896896746">0896 896 746</a></p>
        </section>
    </section>
    <section class="credential s">
        <i class="fas fa-map-marker-alt"></i>
        <section class="credentials-text">
            <p>Къде да ни намерите?</p>
            <p class="data"><span>Адрес:</span>гр. Русе, ул. Борисова 91</p>
        </section>
    </section>
    <section class="credential">
        <i class="far fa-envelope"></i>
        <section class="credentials-text">
            <p>Пишете ни!</p>
            <p class="data"><span>Имейл:</span><a href="mailto:mongroup18@gmail.com">mongroup18@gmail.com</a></p>
        </section>
    </section>
</section>
<section class="map">
    <div class="mapouter">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2877.7496036050015!2d25.953922615550663!3d43.840289579115364!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40ae61b4e86fba35%3A0x3997d86755617ab3!2z0JLQuNCaINGD0YHQu9GD0LPQuCDQs9GALiDQoNGD0YHQtSAtINCc0L7QvSDQs9GA0YPQvw!5e0!3m2!1sbg!2sbg!4v1561999737746!5m2!1sbg!2sbg"
            width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        <style>
            .mapouter {
                position: relative;
                text-align: right;
                height: 500px;
                width: auto;
            }
            
            .gmap_canvas {
                overflow: hidden;
                background: none!important;
                height: 500px;
                width: auto;
            }
        </style>
    </div>
</section>