<section class="contacts">
    <section class="middlle-section">
        <section class="middle-section-top">
            <h2 class="content-head is-center">КОНТАКТИ</h2>
            <section class="middle-section-top-text">
                <p>Вашите малки и незначителни ВиК проблеми могат да станат сериозни много бързо, така че не се колебайте, а се свържете на посочените телефони възможно най-скоро! Екипът на "Мон груп" реагира бързо и прецизно на спешни повиквания при ВиК
                    аварии.
                </p>
                <p>Имате въпрос към нас? Или просто желаете да направите запитване? Може да използвате формата за запитване, а ние ще ви отговорим възможно най-скоро.</p>
            </section>
        </section>
        {% include credentials.html %}
        <script data-cfasync="false" src="form-submission-handler.js"></script>
        <form class="gform pure-form pure-form-stacked" method="POST" data-email="mongroup18@gmail.com" action="https://script.google.com/macros/s/AKfycbwj8TYt4kDJCX0JGSeLPvdCDM8o0DxzPgM05X9I/exec">
            <div class="form-elements">
                <h4>Форма за запитване</h4>
                <fieldset class="pure-group">
                    <label id="name-label" for="name">Вашето име:</label>
                    <input id="name" name="name" placeholder="Вашето име" required />
                </fieldset>
                <fieldset class="pure-group">
                    <label id="email-label" for="email">Вашият имейл:</label>
                    <input id="email" name="email" type="email" value="" required placeholder="youremail@email.com" />
                </fieldset>
                <fieldset class="pure-group">
                    <label id="message-label" for="message">Съобщение: </label>
                    <textarea id="message" name="message" rows="10" required placeholder="Съобщение..."></textarea>
                </fieldset>
                <fieldset class="pure-group honeypot-field">
                    <label for="honeypot">To help avoid spam, utilize a Honeypot technique with a hidden text field; must be empty to submit the form! Otherwise, we assume the user is a spam bot.</label>
                    <input id="honeypot" type="text" name="honeypot" value="" />
                </fieldset>
                <button class="button-success pure-button button-xlarge">
                  <i class="fa fa-paper-plane"></i>&nbsp;ИЗПРАТИ ЗАПИТВАНЕТО</button>
            </div>
            <div class="thankyou_message" style="display:none;">
                <h4>Благодарим ви за запитването! Ще ви отговорим възможно най-скоро!</h4>
            </div>
        </form>
    </section>
</section>
<div class="hr-purple"></div>
<section class="map">
    <div class="mapouter">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2877.7496036050015!2d25.953922615550663!3d43.840289579115364!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40ae61b4e86fba35%3A0x3997d86755617ab3!2z0JLQuNCaINGD0YHQu9GD0LPQuCDQs9GALiDQoNGD0YHQtSAtINCc0L7QvSDQs9GA0YPQvw!5e0!3m2!1sbg!2sbg!4v1561999737746!5m2!1sbg!2sbg"
            width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        <style>
            .mapouter {
                position: relative;
                text-align: right;
                height: 500px;
                width: auto;
            }
            
            .gmap_canvas {
                overflow: hidden;
                background: none!important;
                height: 500px;
                width: auto;
            }
        </style>
    </div>
</section>