<section class="credentials">
    <section class="credential f">
        <i class="fas fa-phone"></i>
        <section class="credentials-text">
            <p>Обадете се!</p>
            <p class="data"><span>Телефони:</span><a href="tel:0035895872013">0895 872 013</a></p>
            <p class="data"><span class="invisible">Телефони:</span><a href="tel:00359896896746">0896 896 746</a></p>
        </section>
    </section>
    <section class="credential s">
        <i class="fas fa-map-marker-alt"></i>
        <section class="credentials-text">
            <p>Къде да ни намерите?</p>
            <p class="data"><span>Адрес:</span>гр. Русе, ул. Борисова 91</p>
        </section>
    </section>
    <section class="credential">
        <i class="far fa-envelope"></i>
        <section class="credentials-text">
            <p>Пишете ни!</p>
            <p class="data"><span>Имейл:</span><a href="mailto:mongrup18@gmail.com">mongrup18@gmail.com</a></p>
        </section>
    </section>
</section>