<section class="top-first-page">
    <ul class="list">
        <h6>Услуги</h6>
        <li class="item">
            <a href="{{ site.baseurl }}/service-repairment/" class="btn more">
                <i class="fas fa-check-square"></i>
                <p>ВиК ремонти</p>
                <p>Повече<i class="fa fa-paper-plane"></i></p>
            </a>
        </li>
        <li class="item">
            <a href="{{ site.baseurl }}/service-assembly/" class="btn more">
                <i class="fas fa-check-square"></i>
                <p>ВиК монтажи</p>
                <p>Повече<i class="fa fa-paper-plane"></i></p>
            </a>
        </li>
        <li class="item">
            <a class="btn">
                <i class="fas fa-check-square"></i>
                <p>Изработка на битов водопровод<span></span></p>
            </a>
        </li>
        <li class="item">
            <a class="btn">
                <i class="fas fa-check-square"></i>
                <p>Монтаж и смяна на водомери<span></span></p>
            </a>
        </li>
        <li class="item">
            <a class="btn">
                <i class="fas fa-check-square"></i>
                <p>Изработка на промишлен водопровод<span></span></p>
            </a>
        </li>
        <li class="item">
            <a class="btn">
                <i class="fas fa-check-square"></i>
                <p>Подмяна на главни щрангове<span></span></p>
            </a>
        </li>
        <li class="item">
            <a class="btn">
                <i class="fas fa-check-square"></i>
                <p>Подмяна и изработка на канализационни системи<span></span></p>
            </a>
        </li>
        <li class="item">
            <a class="btn">
                <i class="fas fa-check-square"></i>
                <p>Изграждане на противопожарни системи<span></span></p>
            </a>
        </li>
        <li class="item">
            <a href="#" class="btn">
                <i class="fas fa-check-square"></i>
                <p>Изграждане и ремонт на отоплителни системи<span></span></p>
            </a>
        </li>
        <li class="item">
            <a class="btn">
                <i class="fas fa-check-square"></i>
                <p>Изграждане и монтаж на хидрофорни системи<span></span></p>
            </a>
        </li>
        <li class="item">
            <a class="btn">
                <i class="fas fa-check-square"></i>
                <p>Доставка и монтаж на битови омекотителни станции<span></span></p>
            </a>
        </li>
        <li class="item">
            <a class="btn">
                <i class="fas fa-check-square"></i>
                <p>Доставка и монтаж на битови и промишлени омекотителни станции<span></span></p>
            </a>
        </li>
        <li class="item">
            <a class="btn">
                <i class="fas fa-check-square"></i>
                <p>Доставка и монтаж на битови и промишлени пречиствателни станции<span></span></p>
            </a>
        </li>
    </ul>
    <section class="top-first-page-img">
        <p>"Мон груп" ЕООД предлага висококачествени ВиК услуги на територията на гр.Русе и региона</p>
        <section class="img-contianer">
            <img src="{{ site.baseurl }}/images/plumber.png" alt="plumber image Mon group">
        </section>
    </section>
</section>
<section class="first-page-text">
    <section class="text">
        <hr>
        <h5>АКО ТЪСИТЕ ПРОФЕСИОНАЛНИ ВИК ТЕХНИЦИ СЕ СВЪРЖЕТЕ ОЩЕ СЕГА НА ПОСОЧЕНИТЕ ТЕЛЕФОНИ!</h5>
        <p>Екипът на Мон груп е с дългогодишен опит във водопроводните услуги. Услугите се извършват с качествени инструменти за максимално кратък период на много изгодни цени. Качеството на работата е гарантирано!</p>
        <p>Бизнес концепцията на Мон груп е да предлага висококачествени ВиК услуги на добри цени, така че клиентите винаги да са доволни.</p>
        <a href="{{ site.baseurl }}/contacts" class="btn-single">Към контакти</a>
    </section>
</section>