<section class="img-container-first-page">
    <section class="text-over-main-img">
        <p>ВиК услуги</p>
        <h1>МОН ГРУП</h1>
    </section>
    <section class="services-over-main-img">
        <section class="build">
            <i class="fas fa-building"></i>
            <p>Изграждане на ВиК инсталации</p>
        </section>
        <section class="repair">
            <i class="fas fa-tools"></i>
            <p>Изграждане на ВиК инсталации</p>
        </section>
        <section class="lick">
            <i class="fas fa-toolbox"></i>
            <p>Отстраняване на течове</p>
        </section>
    </section>
</section>