<section class="footer-content">
    <section class="footer-nav">
        <p class="link-header">НАВИГАЦИЯ</p>
        {% include navigation.html %}
    </section>
    <section class="contacts">
        <p class="link-header">КОНТАКТИ</p>
        <ul>
            <li>Адрес: ул. Руй Планина 4</li>
            <li>Телефони: 0882597071; 0882597071</li>
            <li>Имейл: g_cirkova@mail.bg</li>
        </ul>
    </section>
    <section class="policy">
        <section>
            <p class="link-header">ПОЛИТИКА НА САЙТА</p>
            <p>Общи условия</p>
            <p>Политика за поверителност</p>
        </section>
        <section>
            <p>Линкове</p>
            <a target="_blank" rel="noopener noreferrer" href="https://pngtree.com/" class="external=link">Graphics from pngtree.com</a>
        </section>
    </section>
</section>
<!-- <ul class="external-links">
    <li>
        instruments-white background
        <a href="https://www.freepik.com/free-photos-vectors/background">Background photo created by freepik - www.freepik.com</a>
    </li>
    <li>
        instruments-left background
        <a href="https://www.freepik.com/free-photos-vectors/background">Background photo created by freepik - www.freepik.com</a>
    </li>
    <li>
        instruments-bottom background
        <a href="https://www.freepik.com/free-photos-vectors/background">Background photo created by freepik - www.freepik.com</a>
    </li>
    <li>
        PLumber
        <a target="_blank" rel="noopener noreferrer" href="https://pngtree.com/">Graphics from pngtree.com</a>
    </li>
</ul> -->
<p class="creator">&copy;1900-2019 created by Gergana Tsirkova All Rights Reserved</p>