<p>Общи условия</p>
<p>Политика за поверителност</p>
<ul class="external-links">
    <li>
        instruments-white background
        <a href="https://www.freepik.com/free-photos-vectors/background">Background photo created by freepik - www.freepik.com</a>
    </li>
    <li>
        instruments-left background
        <a href="https://www.freepik.com/free-photos-vectors/background">Background photo created by freepik - www.freepik.com</a>
    </li>
    <li>
        instruments-bottom background
        <a href="https://www.freepik.com/free-photos-vectors/background">Background photo created by freepik - www.freepik.com</a>
    </li>
    <li>
        PLumber
        <a href="https://pngtree.com/">Graphics from pngtree.com</a>
    </li>
</ul>
<p class="creator">&copy;2019 All rights reserved</p>