<section class="footer-content">
    <section class="footer-nav">
        <p class="link-header">НАВИГАЦИЯ</p>
        {% include navigation.html %}
    </section>
    <section class="contacts">
        <p class="link-header">КОНТАКТИ</p>
        <ul>
            <li><i class="fas fa-home"></i>гр.Русе, ул. Руй Планина 4</li>
            <li>
                <i class="fas fa-phone-square-alt"></i><a href="tel:00359882597071">0882597071</a>; <a href="tel:00359882597071">0882597071</a></li>
            <li><a href="mailto:g_cirkova@mail.bg"><i class="fas fa-envelope"></i>g_cirkova@mail.bg</a></li>
        </ul>
    </section>
    <section class="policy">
        <section>
            <p class="link-header">ПОЛИТИКА НА САЙТА</p>
            <a href="#">Общи условия</a>
            <a href="#">Политика за поверителност</a>
        </section>
        <section class="links">
            <p class="link-header">ЛИНКОВЕ:</p>
            <a target="_blank" rel="noopener noreferrer" href="https://pngtree.com/" class="external=link">Graphics from pngtree.com</a>
        </section>
    </section>
</section>
<section class="footer-bottom">
    <p>Бизнес концепцията на Мон груп е да предлага висококачествени ВиК услуги на добри цени по устойчив начин, така че нашите клиенти винаги да са доволни. Съдържанието на настоящия сайт е със защитени авторски права и е собственост на "Мон груп" ЕООД.
        Благодарим ви, че посетихте нашият сайт!</p>
    <a href="#">
        <img src="/images/logo.png" alt="logo mongroup">
    </a>
</section>
<!-- <ul class="external-links">
    <li>
        instruments-white background
        <a href="https://www.freepik.com/free-photos-vectors/background">Background photo created by freepik - www.freepik.com</a>
    </li>
    <li>
        instruments-left background
        <a href="https://www.freepik.com/free-photos-vectors/background">Background photo created by freepik - www.freepik.com</a>
    </li>
    <li>
        instruments-bottom background
        <a href="https://www.freepik.com/free-photos-vectors/background">Background photo created by freepik - www.freepik.com</a>
    </li>
    <li>
        PLumber
        <a target="_blank" rel="noopener noreferrer" href="https://pngtree.com/">Graphics from pngtree.com</a>
    </li>
</ul> -->
<p class="creator">&copy;1900-2019 created by Gergana Tsirkova All Rights Reserved</p>