<section class="header-main-content">
    <section class="header-top">
        <section class="phone">
            <i class="fas fa-phone"></i>
            <a href="tel:00359882597071">
                <span>Телефон:</span>
            </a>
            <a href="tel:00359882597071">0882 597 071</a>
        </section>
        <section class="email">
            <i class="far fa-envelope"></i>
            <a href="mailto:g_cirkova@mailbg">
                <span>Имейл:</span>
            </a>
            <a href="mailto:g_cirkova@mailbg">g_cirkova@mail.bg</a>
        </section>
        <section class="working-time">
            <i class="far fa-clock"></i>
            <span>Раб. време: Понеделник-Петък: 09:00ч. - 17:00ч.</span>
        </section>
    </section>
    <section class="bottom">
        <a href="{{ site.url }}/">
            <p>ВиК услуги</p>
            <h1>МОН ГРУП</h1>
        </a>
        <nav class="nav">
            {% include navigation.html %}
        </nav>
    </section>
</section>