<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>{{ site.title }}</title>
<link rel="stylesheet" href="{{ site.url }}/css/main.css">
<script src="https://code.jquery.com/jquery-3.4.0.min.js" integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg=" crossorigin="anonymous"></script>
<link rel="shortcut icon" type="image/png" href="{{ site.url }}/images/logo.png">
<link href="https://fonts.googleapis.com/css?family=Anton|Roboto+Mono&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Rubik&display=swap" rel="stylesheet">
<script src="https://kit.fontawesome.com/3c3f4369a3.js"></script>
<script type="text/javascript" src="{{ site.url }}/site.js"></script>
<script type="text/javascript" src="{{ site.url }}/google-apps-script.js"></script>
<script type="text/javascript" src="{{ site.url }}/form-submission-handler.js"></script>
<form class="gform pure-form pure-form-stacked" method="POST" data-email="mongroup18@gmail.com" action="https://script.google.com/macros/s/AKfycbxIcc8hWWEEqiUODzNaCnnJtQlCTrV9ojRUnMji/exec"> {% seo title=false %}