<a href="{{ site.baseurl }}/" class="header-logo">
    <span>ВиК услуги</span>
    <img src="{{ site.baseurl }}/images/logo.png" alt="logo mongroup">
</a>
<nav>
    {% include navigation.html %}
</nav>
<section class="header-contacts">
    <h6>Обадете се!</h6>
    <setction class="header-contacts-phone">
        <i class="fas fa-phone-square-alt"></i>
        <a href="tel:00359882597071">088 259 7071</a>
    </setction>
    <setction class="header-contacts-phone">
        <i class="fas fa-phone-square-alt"></i>
        <a href="tel:00359882597071">088 259 7071</a>
    </setction>
</section>