<section class="site-header-top">
    <a href="{{ site.baseurl }}/">
        <section class="logo">
            <section class="logo-img-container">
                <img src="{{ site.baseurl }}/images/logo.png" alt="logo mongroup">
            </section>
            <section class="logo-text">
                <h1>ВиК УСЛУГИ<span>"МОН ГРУП" ЕООД</span></h1>
                <span>гр. Русе</span>
            </section>
        </section>
    </a>
    <section class="call-us">
        <section class="call-us-icon">
            <i class="fas fa-phone-alt"></i>
        </section>
        <section class="call-us-phones">
            <p>Обадете се!</p>
            <a href="tel:00359882597071">0896 896 746</a>
            <a href="tel:00359882597071">0896 896 746</a>
        </section>
    </section>
</section>
<nav class="desktop-nav">
    {% include navigation.html %}
</nav>
<nav class="mobile-nav">
    <div class="container">
        <input id="responsive-menu" type="checkbox">
        <label for="responsive-menu">МЕНЮ<span id="menu-icon"></span></label>
        <div id="overlay"></div>
        {% include navigation.html %}
    </div>
</nav>