<section class="service-outer">
    <h3>ВиК монтажи</h3>
    <section class="service-inner">
        <section>
            <div class="service-inner-img-container">
                <img src="{{ site.baseurl }}/images/assembly.jpg" alt="image bath">
            </div>
        </section>
        <div class="service-inner-text">
            <ul class="list-services">
                <li>
                    <img class="icon" src="{{ site.baseurl }}/images/icons/sink-basic.jpg" alt="icon-plumbing">Монтажи на смесители</li>
                <li>
                    <img class="icon" src="{{ site.baseurl }}/images/icons/heater.jpg" alt="icon-plumbing">Монтажи на бойлери</li>
                <li>
                    <img class="icon" src="{{ site.baseurl }}/images/icons/shower.jpg" alt="icon-plumbing">Монтажи на душ кабини</li>
                <li>
                    <img class="icon" src="{{ site.baseurl }}/images/icons/tool.jpg" alt="icon-plumbing">Монтажи на миялни машини</li>
                <li>
                    <img class="icon" src="{{ site.baseurl }}/images/icons/plumber.jpg" alt="icon-plumbing">Монтажи на перални машини</li>
                <li>
                    <img class="icon" src="{{ site.baseurl }}/images/icons/toilet1.jpg" alt="icon-plumbing">Монтажи на тоалетни казанчета</li>
                <li>
                    <img class="icon" src="{{ site.baseurl }}/images/icons/toilet.jpg" alt="icon-plumbing">Монтажи на бидета</li>
                <li>
                    <img class="icon" src="{{ site.baseurl }}/images/icons/bath.jpg" alt="icon-plumbing">Монтажи на вани</li>
                <li>
                    <img class="icon" src="{{ site.baseurl }}/images/icons/tool1.jpg" alt="icon-plumbing">Монтажи на всякакви видове санитарно оборудване и аксесоари за баня</li>
            </ul>
            <a href="{{ site.baseurl }}/" class="back"><i class="fa fa-paper-plane"></i>Назад към начало</a>
        </div>
    </section>
</section>
<section class="credentials">
    <section class="credential f">
        <i class="fas fa-phone"></i>
        <section class="credentials-text">
            <p>Обадете се!</p>
            <p class="data"><span>Телефони:</span><a href="tel:00359896896746">0896 896 746</a></p>
            <p class="data"><span class="invisible">Телефони:</span><a href="tel:00359896896746">0896 896 746</a></p>
        </section>
    </section>
    <section class="credential s">
        <i class="fas fa-map-marker-alt"></i>
        <section class="credentials-text">
            <p>Къде да ни намерите?</p>
            <p class="data"><span>Адрес:</span>гр. Русе, ул. Борисова 91</p>
        </section>
    </section>
    <section class="credential">
        <i class="far fa-envelope"></i>
        <section class="credentials-text">
            <p>Пишете ни!</p>
            <p class="data"><span>Имейл:</span><a href="mailto:mongroup18@gmail.com">mongroup18@gmail.com</a></p>
        </section>
    </section>
</section>