<section class="service-outer">
    <h3>ВиК монтажи</h3>
    <section class="service-inner">
        <section>
            <div class="service-inner-img-container">
                <img src="{{ site.url }}/images/repairment.jpg" alt="image plumbing">
            </div>
        </section>
        <div class="service-inner-text">
            <ul class="list-services">
                <li>
                    <img class="icon" src="{{ site.url }}/images/icons/sink-basic.jpg" alt="icon-plumbing">Монтажи на смесители</li>
                <li>
                    <img class="icon" src="{{ site.url }}/images/icons/heater.jpg" alt="icon-plumbing">Монтажи на бойлери</li>
                <li>
                    <img class="icon" src="{{ site.url }}/images/icons/shower.jpg" alt="icon-plumbing">Монтажи на душ кабини</li>
                <li>
                    <img class="icon" src="{{ site.url }}/images/icons/tool.jpg" alt="icon-plumbing">Монтажи на миялни машини</li>
                <li>
                    <img class="icon" src="{{ site.url }}/images/icons/plumber.jpg" alt="icon-plumbing">Монтажи на перални машини</li>
                <li>
                    <img class="icon" src="{{ site.url }}/images/icons/toilet1.jpg" alt="icon-plumbing">Монтажи на тоалетни казанчета</li>
                <li>
                    <img class="icon" src="{{ site.url }}/images/icons/toilet.jpg" alt="icon-plumbing">Монтажи на бидета</li>
                <li>
                    <img class="icon" src="{{ site.url }}/images/icons/bath.jpg" alt="icon-plumbing">Монтажи на вани</li>
                <li>
                    <img class="icon" src="{{ site.url }}/images/icons/tool1.jpg" alt="icon-plumbing">Монтажи на всякакви видове санитарно оборудване и аксесоари за баня</li>
            </ul>
            <a href="{{ site.url }}/" class="back"><i class="fa fa-paper-plane"></i>Назад към начало</a>
        </div>
    </section>
</section>
{% include credentials.html %}