<section class="service-outer">
    <h3>Изработка на битов водопровод</h3>
    <section class="service-inner-full">
        <section>
            <div class="service-inner-img-container-full">
                <img src="{{ site.url }}/images/domestic.jpg" alt="image plumber working">
            </div>
        </section>
        <div class="service-inner-text-full">
            <p>Водопроводната система във всеки дом е много важен фактор както за сигурността, така и за комфорта на всеки един от нас.</p>
            <p>В близкото минало за направата на битов водопровод са се използвали подцинковани тръби. В днешно време това е недопустимо, тъй като благодарение на водата в тях възникват корозионни процеси. В резултат на това се влошава качеството на водата.</p>
            <p>Ние от Мон груп ви препоръчваме подмяна на използваните повече от 20 г. подцинковани тръби, с полипропиленови.</p>
            <p>Полипропиленовите тръби са устойчиви както на натоварване, така и на температура и разтягане. Те не гният и не задържат отлагания.</p>
            <p>Ако имате нужда от смяна на подцинкованите тръби у дома, се обадете веднага. Вие ще бъдете бързо и качестено обслужени от нашите специалисти!</p>
            <div style="clear:both;"></div>
        </div>
    </section>
    <a href="{{ site.url }}/" class="back"><i class="fa fa-paper-plane"></i>Назад към начало</a>
</section>
{% include credentials.html %}