* {
  padding: 0;
  margin: 0; }

html {
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font: 14px/1.5 'Roboto Mono', monospace; }

body,
input,
form,
textarea {
  font: inherit; }

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.5;
  margin: 0, 0, 0.5em 0;
  padding: 0; }

h1 {
  font-size: 3em;
  font-weight: normal; }

h2 {
  font-size: 2.2em; }

h3 {
  font-size: 1.9em; }

h4 {
  font-size: 1.6em; }

h5 {
  font-size: 1.4em; }

h6 {
  font-size: 1.2em; }

ul > li {
  list-style: none; }

ul > li > a {
  text-decoration: none; }

a {
  text-decoration: none; }

@media only screen and (max-width: 700px) {
  html {
    font-size: 14px; } }

@media only screen and (max-width: 1040px) {
  html {
    font-size: 16px; } }

@media only screen and (min-width: 1041px) {
  html {
    font-size: 18px; } }

@media only screen and (min-width: 1800px) {
  html {
    font-size: 20px; } }

.btn-single {
  background: #2B324A;
  color: white;
  display: inline-block;
  padding: 1em 2em;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 0.8em;
  box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 0.3); }
  .btn-single:hover {
    color: #2B324A;
    background: white; }
  @media screen and (max-width: 700px) {
    .btn-single {
      padding: 1em 2em; } }

.btn-up {
  position: fixed;
  bottom: 1%;
  right: 1%;
  font-size: 2em;
  background: #1c2130;
  border-radius: 0.5em;
  padding: 0.1em 0.4em;
  color: white;
  box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 0.3); }
  .btn-up:hover {
    background: #F95B37; }

body {
  display: flex;
  flex-direction: column; }
  body header,
  body footer,
  body main {
    width: 100%; }

.site-header-top {
  padding: 1em 7em;
  background: #2B324A;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #8298E1; }
  .site-header-top .logo {
    display: flex;
    justify-content: center;
    align-items: center; }
    .site-header-top .logo .logo-img-container {
      background: white;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      border-radius: 50%;
      width: 6em;
      height: 6em;
      border: 2px solid #d9d9d9;
      margin-right: 1.5em; }
      .site-header-top .logo .logo-img-container img {
        width: auto;
        align-self: center; }
        @media screen and (max-width: 330px) {
          .site-header-top .logo .logo-img-container img {
            height: 3em; } }
        @media screen and (max-width: 700px) and (min-width: 330px) {
          .site-header-top .logo .logo-img-container img {
            height: 5em; } }
        @media screen and (min-width: 700px) {
          .site-header-top .logo .logo-img-container img {
            height: 6em; } }
      @media screen and (max-width: 330px) {
        .site-header-top .logo .logo-img-container {
          width: 4em;
          height: 4em;
          border: 2px solid #8298E1; } }
      @media screen and (min-width: 330px) and (max-width: 700px) {
        .site-header-top .logo .logo-img-container {
          width: 6em;
          height: 6em;
          border: 3px solid #8298E1; } }
      @media screen and (min-width: 700px) {
        .site-header-top .logo .logo-img-container {
          width: 8em;
          height: 8em;
          border: 4px solid #8298E1; } }
    .site-header-top .logo .logo-text {
      display: flex;
      flex-direction: column;
      color: white; }
      .site-header-top .logo .logo-text h1 {
        margin-top: 0.5em;
        font-size: 1em;
        display: flex;
        flex-direction: column;
        font-family: 'Rubik', sans-serif;
        font-weight: normal; }
        .site-header-top .logo .logo-text h1 > span {
          font-size: 1.5em;
          font-weight: 900;
          font-family: 'Rubik', sans-serif;
          letter-spacing: 2px; }
        @media screen and (min-width: 700px) {
          .site-header-top .logo .logo-text h1 {
            font-size: 1.2em; } }
      .site-header-top .logo .logo-text > span {
        font-family: 'Rubik', sans-serif;
        color: #8298E1; }
    @media screen and (max-width: 700px) {
      .site-header-top .logo > a {
        align-self: center; } }
  .site-header-top .call-us {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto; }
    .site-header-top .call-us .call-us-icon i {
      color: #8298E1;
      font-size: 2em;
      margin-right: 1em;
      margin-top: 0.8em; }
      @media screen and (min-width: 700px) {
        .site-header-top .call-us .call-us-icon i {
          margin-right: 0.5em;
          margin-top: 0.7em; } }
    .site-header-top .call-us .call-us-phones {
      display: flex;
      flex-direction: column; }
      .site-header-top .call-us .call-us-phones p {
        color: #8298E1;
        margin-bottom: 0.5em; }
      .site-header-top .call-us .call-us-phones > a {
        outline: none;
        color: white;
        font-size: 1em;
        font-weight: bold;
        margin-bottom: 0.4em; }
    @media screen and (max-width: 700px) {
      .site-header-top .call-us {
        margin-left: 0;
        margin-top: 1.5em; } }
    @media screen and (min-width: 700px) and (max-width: 1040px) {
      .site-header-top .call-us {
        margin-left: auto; } }
  @media screen and (max-width: 440px) {
    .site-header-top {
      padding: 1em;
      flex-direction: column; } }
  @media screen and (max-width: 700px) and (min-width: 440px) {
    .site-header-top {
      padding: 1em 2.5em;
      flex-direction: column; } }
  @media screen and (min-width: 700px) and (max-width: 1040px) {
    .site-header-top {
      padding: 1em 2.5em; } }

nav.mobile-nav {
  background: #8298E1;
  left: 0;
  position: relative;
  top: 0;
  width: 100%;
  z-index: 9999; }
  nav.mobile-nav .container {
    margin: 0 auto;
    max-width: 80em;
    /* Hamburger Icon */
    /* Close Icon */
    /*** MENU ***/
    /* Overlay */
    /* List */ }
    nav.mobile-nav .container input {
      opacity: 0;
      position: absolute;
      z-index: -1; }
    nav.mobile-nav .container label {
      color: white;
      cursor: pointer;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 1.5em;
      padding: 0.2em 0.5em; }
    nav.mobile-nav .container #menu-icon,
    nav.mobile-nav .container #menu-icon:before,
    nav.mobile-nav .container #menu-icon:after {
      background: white;
      border-radius: 0.05em;
      height: 0.2em;
      transition: all 0.2s ease-in-out;
      width: 100%; }
    nav.mobile-nav .container #menu-icon {
      display: inline-block;
      margin: 0.4em 0;
      max-width: 1em;
      position: relative; }
    nav.mobile-nav .container label #menu-icon {
      float: right; }
    nav.mobile-nav .container #menu-icon:before,
    nav.mobile-nav .container #menu-icon:after {
      content: '';
      left: 0;
      position: absolute; }
    nav.mobile-nav .container #menu-icon:before {
      top: -0.4em; }
    nav.mobile-nav .container #menu-icon:after {
      bottom: -0.4em; }
    nav.mobile-nav .container input[type=checkbox]:checked + label #menu-icon {
      background: transparent; }
    nav.mobile-nav .container input[type=checkbox]:checked + label #menu-icon:before {
      top: 0;
      -webkit-transform: rotate(-45deg);
              transform: rotate(-45deg); }
    nav.mobile-nav .container input[type=checkbox]:checked + label #menu-icon:after {
      bottom: 0;
      -webkit-transform: rotate(45deg);
              transform: rotate(45deg); }
    nav.mobile-nav .container input:checked ~ #overlay {
      background: #8298E1;
      left: 0;
      height: auto;
      position: fixed;
      right: 0;
      width: 100vw;
      z-index: -1; }
    nav.mobile-nav .container ul {
      color: white;
      font-size: 1.2em;
      list-style: none;
      margin: 0;
      max-height: 0;
      opacity: 0;
      overflow: hidden;
      padding: 0;
      text-align: center; }
    nav.mobile-nav .container input:checked ~ ul {
      margin: 1em;
      max-height: inherit;
      opacity: 1; }
    nav.mobile-nav .container ul > li {
      margin: 0.5em 0; }
    nav.mobile-nav .container ul a {
      color: white;
      text-decoration: none; }
    nav.mobile-nav .container ul a:hover {
      text-decoration: underline; }
  @media screen and (max-width: 700px) {
    nav.mobile-nav {
      display: block; } }
  @media screen and (min-width: 700px) {
    nav.mobile-nav {
      display: none; } }

nav.desktop-nav {
  font: inherit; }
  nav.desktop-nav > ul {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #2B324A;
    background: #2B324A;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 auto;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    overflow: hidden; }
    nav.desktop-nav > ul a {
      display: block;
      color: white;
      padding: 1.5em 2em;
      transition: 0.4s; }
      nav.desktop-nav > ul a:hover {
        color: white;
        background: #8298E1; }
    nav.desktop-nav > ul .first {
      border-bottom-left-radius: 1em; }
    nav.desktop-nav > ul .last {
      border-bottom-right-radius: 1em; }
  @media screen and (max-width: 700px) {
    nav.desktop-nav {
      display: none; } }
  @media screen and (min-width: 700px) {
    nav.desktop-nav {
      display: block; } }

.top-first-page {
  width: 100%;
  padding: 4em 7em 2em 7em;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  overflow: hidden; }
  .top-first-page .top-first-page-img {
    flex-basis: 100%;
    order: 1;
    margin-bottom: 1em;
    padding: 0 1em;
    display: flex;
    flex-direction: column; }
    .top-first-page .top-first-page-img p {
      width: 100%; }
    .top-first-page .top-first-page-img .img-contianer {
      position: relative;
      margin-top: 2em;
      flex: 1; }
      .top-first-page .top-first-page-img .img-contianer:before {
        content: '';
        display: block;
        padding-top: 90%;
        margin-top: 3em; }
        @media screen and (min-width: 700px) and (max-width: 800px) {
          .top-first-page .top-first-page-img .img-contianer:before {
            padding-top: 200%;
            margin-top: 5em; } }
        @media screen and (min-width: 800px) and (max-width: 900px) {
          .top-first-page .top-first-page-img .img-contianer:before {
            padding-top: 180%; } }
        @media screen and (min-width: 900px) and (max-width: 1050px) {
          .top-first-page .top-first-page-img .img-contianer:before {
            margin-top: 1em;
            padding-top: 140%; } }
        @media screen and (min-width: 1050px) and (max-width: 1100px) {
          .top-first-page .top-first-page-img .img-contianer:before {
            margin-top: 5em;
            padding-top: 180%; } }
        @media screen and (min-width: 1100px) and (max-width: 1300px) {
          .top-first-page .top-first-page-img .img-contianer:before {
            margin-top: 2em;
            padding-top: 160%; } }
        @media screen and (min-width: 1300px) and (max-width: 1400px) {
          .top-first-page .top-first-page-img .img-contianer:before {
            margin-top: 2em;
            padding-top: 140%; } }
      @media screen and (min-width: 1041px) {
        .top-first-page .top-first-page-img .img-contianer {
          margin-top: 0; } }
      .top-first-page .top-first-page-img .img-contianer img {
        order: 1;
        margin: 0 auto;
        position: absolute;
        width: auto;
        height: 100%;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%); }
    @media screen and (min-width: 700px) {
      .top-first-page .top-first-page-img {
        order: 2;
        flex-basis: 45%; } }
  .top-first-page .list {
    flex-basis: 100%;
    order: 2;
    box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 0.3);
    border-radius: 1em;
    overflow: hidden; }
    .top-first-page .list h6 {
      padding: 0.5em 1em;
      color: white;
      background: #FACD3D; }
    .top-first-page .list li {
      border-bottom: 1px dotted #FACD3D; }
      .top-first-page .list li:last-of-type {
        border-bottom: none; }
      .top-first-page .list li a {
        display: flex;
        widows: 100%;
        height: 100%;
        padding: 0.5em 1em;
        color: #2B324A; }
        .top-first-page .list li a span {
          margin-bottom: 2px; }
        .top-first-page .list li a p {
          display: block; }
        .top-first-page .list li a i {
          align-self: baseline;
          color: #FACD3D;
          margin-right: 0.5em;
          margin-top: 0.2em; }
        .top-first-page .list li a:hover {
          background: rgba(250, 205, 61, 0.5); }
          .top-first-page .list li a:hover i {
            color: #FACD3D; }
    @media screen and (min-width: 700px) {
      .top-first-page .list {
        order: 1;
        flex-basis: 50%; } }
  @media screen and (max-width: 440px) {
    .top-first-page {
      padding: 1em; } }
  @media screen and (max-width: 700px) and (min-width: 440px) {
    .top-first-page {
      padding: 1em 2.5em; } }
  @media screen and (min-width: 700px) and (max-width: 1040px) {
    .top-first-page {
      padding: 3em; } }

.first-page-text {
  background: #8298E1;
  color: white;
  padding: 5em;
  margin-top: 3em; }
  .first-page-text .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; }
    .first-page-text .text h5 {
      letter-spacing: 2px; }
    .first-page-text .text > hr {
      border-top: 1px solid white;
      border-bottom: 1px solid white;
      font-size: 3em;
      width: 20%;
      margin-bottom: 0.7em; }
      @media screen and (min-width: 700px) {
        .first-page-text .text > hr {
          width: 7%; } }
    .first-page-text .text .btn-single {
      margin-top: 3em;
      font-size: 1em; }
  @media screen and (min-width: 700px) and (max-width: 1040px) {
    .first-page-text {
      margin-top: 3em;
      padding: 5em 10em; } }
  @media screen and (min-width: 1040px) {
    .first-page-text {
      margin-top: 3em;
      padding: 5em 12em; } }

.site-footer .footer-content {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background: #2B324A;
  color: #D5DCF4;
  display: flex;
  flex-direction: column;
  padding: 2em 3em; }
  .site-footer .footer-content ul,
  .site-footer .footer-content li,
  .site-footer .footer-content a {
    color: #D5DCF4; }
  .site-footer .footer-content > section .link-header {
    margin: 1em 0;
    font-weight: bold;
    color: whitesmoke; }
  .site-footer .footer-content .contacts {
    margin-bottom: 1em; }
    .site-footer .footer-content .contacts li {
      margin-bottom: 1em; }
    .site-footer .footer-content .contacts i {
      margin-right: 0.5em;
      font-size: 1.5em; }
  .site-footer .footer-content .footer-nav {
    margin-bottom: 1em; }
    .site-footer .footer-content .footer-nav li {
      margin-bottom: 0.5em; }
  .site-footer .footer-content .policy > section {
    display: flex;
    flex-direction: column; }
  .site-footer .footer-content .policy .links {
    margin-bottom: 1em; }
    .site-footer .footer-content .policy .links a {
      font-size: 0.8em; }
  @media screen and (min-width: 850px) and (max-width: 1041px) {
    .site-footer .footer-content {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 3em; }
      .site-footer .footer-content .contacts {
        margin-right: 1em; }
      .site-footer .footer-content .footer-nav {
        margin-right: 1em; } }
  @media screen and (min-width: 1040px) {
    .site-footer .footer-content {
      flex-direction: row;
      justify-content: space-between;
      padding: 3em 6em; }
      .site-footer .footer-content .footer-nav {
        margin-right: 2em; }
      .site-footer .footer-content .contacts {
        margin-right: 2em; } }

.site-footer > .footer-bottom {
  font: inherit;
  background: #2B324A;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 2em; }
  .site-footer > .footer-bottom > p {
    margin: 0 2em;
    text-align: center; }
  .site-footer > .footer-bottom a {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em 2em; }
    .site-footer > .footer-bottom a img {
      width: 30%;
      height: auto; }
  @media screen and (min-width: 700px) and (max-width: 1041px) {
    .site-footer > .footer-bottom a img {
      width: 15%;
      height: auto; }
    .site-footer > .footer-bottom > p {
      margin: 0 4em; } }
  @media screen and (min-width: 1040px) {
    .site-footer > .footer-bottom a img {
      width: 10%;
      height: auto; }
    .site-footer > .footer-bottom > p {
      margin: 0 8em; } }

.site-footer .creator {
  background: #1c2130;
  font-size: 0.6em;
  color: #ABBAEA;
  text-align: center;
  padding: 0.2em 2em; }

body {
  width: 100vw;
  background: white;
  color: #2B324A; }
