<!DOCTYPE html>
<html lang="en">

<head>
    {% include head.html %}
</head>

<body>
    <!-- <div class="se-pre-con"></div> -->
    <header class="site-header">
        {% include header-page.html %}
    </header>
    <main class="site-content">
        {{ content }}
        <a class="btn-up" id="return-to-top" onclick="topFunction()"><i class="fas fa-arrow-up"></i></a>
    </main>
    <footer class="site-footer">
        {% include footer.html %}
    </footer>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.js"></script> -->
    <script>
        // $(window).load(function() {
        //     // Animate loader off screen
        //     $(".se-pre-con").fadeOut("slow");;
        // });
        start();

        function topFunction() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }
    </script>
</body>

</html>