.error {
    h2 {
        font-size: 3.5em;
        font-weight: bold;
        text-align: center;
        margin: 1em;
        text-shadow: 4px 1px 3px rgba(0, 0, 0, 0.3);
    }
    p {
        text-align: center;
        font-size: 1.2em;
        margin: 2em;
    }
}