.hr-purple {
    width: 10%;
    margin: 2em auto 0 auto;
    background: $base-light;
    border-top: 2px solid $base-light;
    border-bottom: 2px solid $base-light;
}

.credentials {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-row-gap: 2em;
    overflow: hidden;
    padding: 3em;
    margin: 2em 0;
    width: 100vw;
    .credential {
        display: flex;
        justify-content: baseline;
        i {
            font-size: 1.5em;
            color: $base-light;
            margin-right: 0.5em;
        }
        .credentials-text {
            display: flex;
            flex-direction: column;
            p {
                &:first-of-type {
                    font-size: 1em;
                    font-weight: bold;
                    margin-bottom: 1em;
                }
            }
            .invisible {
                visibility: hidden;
            }
            span {
                margin-right: 0.5em;
            }
            a {
                color: $dark;
                &:hover,
                &:focus {
                    color: $base-light;
                }
            }
        }
    }
    .data {
        display: flex;
        flex-wrap: wrap;
    }
    @media screen and(min-width: 800px)and(max-width: 1300px) {
        padding: 3em 4em;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-row-gap: 2em;
        margin: 0 auto;
    }
    @media screen and(min-width: 1300px) {
        width: 100vw;
        padding: 2em 6em;
        grid-gap: 2em;
        justify-content: center;
        align-content: center;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
    }
}

.map {
    width: 90vw;
    margin: 3em auto;
    box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 0.5);
    overflow: hidden;
    height: 450px;
    iframe {
        width: 100%;
    }
    @media screen and(max-width: $breakpoint-phone) {
        width: 80vw;
    }
    .mapouter {
        position: relative;
        text-align: right;
        height: 500px;
        width: auto;
    }  
    .gmap_canvas {
        overflow: hidden;
        background: none!important;
        height: 500px;
        width: auto;
    }
}