.img-container-first-page {
    width: 100vw;
    height: 90vh;
    background: linear-gradient(rgba($base-dark, 0.2), rgba($base-dark, 0)), url("/images/main1.jpg") center no-repeat;
    background-size: cover;
}