.img-container-first-page {
    width: 100vw;
    height: 90vh;
    background: url("../images/main1.jpg") center no-repeat;
    background-size: cover;
    display: grid;
    padding: 5em 10em;
    grid-gap: 10em;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
}

.services-over-main-img {
    display: grid;
    grid-gap: 1em;
    justify-content: center;
    align-items: center;
    >section a {
        width: 100%;
        height: 100%;
        background: rgba($base-dark, 0.8);
        padding: 2em;
        display: flex;
        justify-content: center;
        align-items: center;
        i {
            margin-right: 1em;
            color: white;
            font-size: 1.5em;
        }
        p {
            font-size: 1.2em;
            color: white;
        }
    }
}

.text-over-main-img {
    background: rgba($base-dark, 0.8);
    padding: 3em 2em;
    h2 {
        padding-bottom: 1.5em;
        text-align: center;
        color: white;
    }
    p {
        padding-bottom: 1em;
        color: white;
    }
    .btn {
        padding-top: 1em;
    }
}