$breakpoint-phone: 700px;
$breakpoint-tablet: 1040px;
$breakpoint-laptop: 1041px;
$breakpoint-desktop: 1800px;
// $base-dark: #4056A1;
$base-dark:#232443;
$purple:#3E4095;
$yellow: #F9C52B;
$base-light: #C1D3CC;
$font: #02223C;
$red: #F95B37;