$breakpoint-phone: 700px;
$breakpoint-tablet: 1040px;
$breakpoint-laptop: 1041px;
$breakpoint-desktop: 1800px;
$base-dark:#2B324A;
$base-dark:#1c2130;
$yellow: #FACD3D;
$gray: #d9d9d9;
$gray-light:#F2F2F2;
$gray-extra-light: #F7F7F7;
$base-light:#8298E1;
$font: #2B324A;
$font-light:#ABBAEA;
$font-extra-light:#D5DCF4;
$red: #D35B42;
$dark: #1c2130;