$breakpoint-phone: 700px;
$breakpoint-tablet: 1040px;
$breakpoint-laptop: 1041px;
$breakpoint-desktop: 1800px;
$base-dark: #1A2127;
$base-light: #26333B;
$gray: #E8E8E9;
$gray-font-dark: #778792;
$blue-font-light:#AAD8EC;
$blue: #00ace6;