@import 'variables';
@import 'typography';
@import 'buttons';
@import 'layout';
@import 'header';
@import 'main-page';
@import 'navigation';
@import 'first-page';
@import 'footer';
body {
    width: 100vw;
    background: white;
    color: $base-dark;
}